*{
    box-sizing: border-box;
}

#link-topp{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

#grid-container-index div ul li:hover{
    background-color: #000;
    color: #fff;
}

#flex-container-index{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


body{
    background-color: #f4ebe0;
}

#grid-container-index header nav span a{
    margin: 70px;
}

#artikler{
    text-align: center;
}

#waterproof{
    text-align: center;
}

a{
    text-decoration: none;
    color: #000;
    
}

ul li{
    list-style: none;
}

#flex-container-logo{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#artikler h2{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 100%;

}

