*{
    box-sizing: border-box;
}

#link-topp{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

#grid-container-index header{
    margin: auto auto 2rem auto;
}

#grid-container-index main picture{
    display: inline-block
}


#flex-container-index{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

body{
    background-color: #f4ebe0;
}

#flex-container-logo{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#grid-container-index header nav span a{
    margin: 70px;
}

#grid-container-index main picture{
    margin: 3rem auto 3rem auto;
}

#artikler{
    text-align: center;
}

#artikler article{
    margin: auto auto 2rem auto;
    border-radius: 50%;
}

#artikler article h3{
    margin: 3.5rem auto 0rem auto;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    text-decoration: none;
    margin: 0.5rem;
    border-radius: 15%;
    width: 90px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#artikler h2{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3rem auto 1rem auto;
}


#hover{
    background-color: #fff;
    color: #000;
}

#waterproof article h3{
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

#populare-choice{
    text-align: center;
}

#populare-choice h2{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3rem auto 1rem auto;
}

.pris{
    margin: 0 auto 3rem auto;
}

#shoe-keeping{
    text-align: center;
    font-size: 1rem;
}

img{
    width: 100%;
    max-height: 340px;
}

a{
    text-decoration: none;
    color: #000;
    
}

ul li{
    list-style: none;
}

a:hover{
    background-color: #fff;
    color: black;
}




/*CSS for produktsiden*/

.size{
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
}

.size:hover{
    background-color: #fff;
    color: #000;
}

#storrelse{
    font-size: 12px;
    text-decoration: underline;
    margin: auto auto 0rem auto;
}

#legg-i-handlekurv{
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
}