*{
    box-sizing: border-box;
}


#link-topp{
    font-size: 10px;
    color: #000;

}

#grid-container-index header{
    margin: auto auto 2rem auto;
}


#flex-container-index{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: #9c9a96;
}

.flex-container-logo{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    
}

#grid-container-index header nav span a{
    margin: 70px 50px;
}

#grid-container-index main picture{
    margin: 3rem auto 3rem auto;
}

.artikler{
    text-align: center;
}

.artikler article{
    margin: auto auto 2rem auto;
    border-radius: 50%;
}

.artikler article h3{
    margin: 3.5rem auto 0rem auto;
    display: inline-block;
    background-color: #5e5b5b;
    color: #fff;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 15%;
    width: 90px;
    font-size: 1rem;
    border: 3px solid;
    border-color: #000;
}

.artikler h2{
    font-size: 1.5rem;
    margin: 3rem auto 1rem auto;
}


#hover{
    background-color: #8c8b8b;
    color: #000;
    
}

.pris{
    margin: 0 auto 3rem auto;
    font-size: 25px;
}

#grid-container-index main picture img{
    margin: 3rem auto;
}

#shoe-keeping{
    text-align: center;
    font-size: 1rem;
}

#shoe-keeping h2{
    margin: 2rem auto 0.5rem auto;
    font-size: 1.5rem;
}

#shoe-keeping article h3{
    margin: 0rem auto 1rem auto;
    font-size: 1rem;
}

#read-more-knapp{
    display: inline-block;
    background-color: #5e5b5b;
    color: #fff;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 15%;
    width: 90px;
    font-size: 1rem;
    border: 3px solid;
    border-color: #000;
    box-shadow: 5px;

}

#nyhetsbrev{
    text-align: center;
    margin: 5rem auto;
    
}

/*Inspirasjon hentet fra forelesning med Ann-Charlott og boken HTML og CSS av Duckett*/



.face-insta{
    display: inline-block;
    background-color: rgb(171, 171, 196);
    color: #fff;
    padding: 10px;
    border-radius: 40%;
    padding: 1rem;
    font-size: 25px;
  
}

img{
    width: 100%;
    max-height: 340px;
    max-width: 510px;
}

a{
    text-decoration: none;
    color: #000;
    
}

ul li{
    list-style: none;
}

a:hover{
    background-color: #fff;
    color: black;
}

footer{
    font-size: 15px;
}



/*CSS for produktsiden*/


#grid-container-produkt{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container-produkt header nav span a{
    margin: 70px 50px;
}

#holly-molly-sko h2{
    font-size: 20px;
    margin: 3rem auto 0.5rem auto;
}

#pris-holly-molly{
    margin: 0.5rem auto 1rem auto;
}


.size{
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
}

#storrelse{
    font-size: 12px;
    text-decoration: underline;
    margin: auto auto 0rem auto;
}

#legg-i-handlekurv{
    display: inline-block;
    background-color: #5e5b5b;
    color: #fff;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 15%;
    width: 150px;
    height: 40px;
    font-size: 1rem;
    border: 3px solid;
    border-color: #000;
    box-shadow: 5px;
}

.produktbeskrivelse{
    text-align: center;
    font-size: 15px;
}

#delivery{
    margin: 5rem auto auto auto;
}


/*CSS for retur og leveranse*/

main{
    text-align: center;
}

#grid-container-retur{
    font-family: Arial, Helvetica, sans-serif;
}


#grid-container-retur header nav span a{
    margin: 70px 50px;
}

#leveranse{
    margin: 3rem auto;
}

#reklamasjon{
    margin: 3rem auto;
}

#om-oss{
    margin: 3rem auto;
}


/*responsivitet og grid*/

@media screen only and (min-width: 520px){
    #grid-container-index{
        
    }

}
    
